<div>
    <h2>Login</h2>
    <hr>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Benutzername</mat-label>
            <input matInput placeholder="Benutzername eingeben">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Passwort</mat-label>
            <input matInput placeholder="Passwort eingeben" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="login()" [mat-dialog-close]="true">Login</button>
    </form>
</div>