$orange:#FF7700;

mat-icon{
    float: right;
    margin-right: 0.5em;
    color: $orange;
    cursor: pointer;
}

h3{
    color: $orange;
    text-align: center;
    margin-bottom: 0em;
    margin-top: 0.5em;
}

hr{
    display: block;
    width: 50%;
    color: $orange;
    margin-bottom: 2em;
}

#clean{
    clear: both;
}

h4 span{
    color: $orange;
}