$grey: #717070;

div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}

mat-form-field{
    width: 100%;
}

h3{
    color: $grey;
}

mat-error{
    font-size: 8px;
}