<div>
    <h2 i18n="headline text|Generate Survey">Befragung erstellen</h2>
    <hr>
    <form [formGroup]="userForm">
        <mat-form-field appearance="fill">
            <mat-label i18n="label text|Title">Titel</mat-label>
            <input matInput formControlName="title" type="text" name="Tilte" [(ngModel)]="this.survey.title" i18n-placeholder="input placeholder|Type in title" placeholder="Titel eingeben" required>
            <mat-error *ngIf="userForm.controls['title'].invalid">
                <p i18n="error message|error titel">Titel muss zwischen 5-50 Zeichen enthalten.</p>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label i18n="label text|description">Beschreibung</mat-label>
            <input matInput formControlName="desc" type="text" name="Description" [(ngModel)]="survey.description" i18n-placeholder="inpt placeholder|Type in Description" placeholder="Beschreibung eingeben" required>
            <mat-error *ngIf="userForm.controls['desc'].invalid">
                <p i18n="error message|error desc">Bschreibung muss zwischen 5-50 Zeichen enthalten.</p>
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="generate()" i18n="button text|generate survey" [disabled]="!userForm.valid">Erstellen</button>
    </form>
</div>
